<section id="latest" class="projects-overview">

	<div class="container">
		<header class="left">
			<h1 class="blue-line-after-short">Laatste Projecten</h1>
		</header>
		
		<section class="portfolio-part">
			<figure>
				<img src="./img/projects/isabelle/isabelle.jpg" alt="project img">
			</figure>

			<div class="meta">
				<h2>Isabelle Amé</h2>
				<span class="date">01-03-2016</span>
				<p>
					Isabelle Amé is een Nederlandse sing en songwriter.
				</p>
			</div>

			<a class="disabled" href="#binnenkort-meer">Binnenkort meer</a>
		</section>

		<!-- <section class="portfolio-part">
			<figure>
				<img src="./img/projects/nike.png" alt="project img">
			</figure>

			<div class="meta">
				<h2>Project Two</h2>
				<span class="date">01-03-2016</span>
				<p>
					Een heel kort intro over het project
				</p>
			</div>

			<a href="">Zie meer</a>
		</section> -->
		<section class="projects-link">
			<a href="/portfolio.html">Zie al onze projecten</a>
		</section>
	</div>
	
</section>