footer {
	background-color: $gray-bg;
	/*@include flex(column, center);*/

	h1 {
		padding-left: $gutter-large;
		display: inline-block;
		align-self: center;
	}

	p {

		a {
			margin: 2em 0;
			color: $prime-color;
			font-weight: bold;
			text-decoration: underline;

			&:hover {
				color: $prime-color-lighter;
			}
		}
	}

	ul {
		padding-bottom: 4em;
		padding-top: 1em;
		text-align: center;
	}
	li {
		display: inline-block;
		margin: 0;
		padding: 0;

		a {
			margin: 0 1em;

			&:hover {
				svg {
					g {
						fill: $prime-color;
					}
				}
			}
		}
	}

	svg {
		scale: .8;
		g {
			fill: darken($prime-color, 20%);
		}
	}

	@media(min-width: 1000px) {
		p {
			/*margin-left: -#{$grid-col};*/
		}
	}
}

@keyframes highlight {
	70% {
		background-color: rgba(200, 200, 200, 1);
	}
}
#contact:target {
	animation: highlight .7s;
}