$slider-close: 0em;
$slider-open: 6em;
$slider-dur: 6s;

@keyframes sliderOne {
	0%, 33%, 100% {
		max-width: $slider-close;
		padding: 0;
	}
	5%, 30% {
		max-width: $slider-open;
		padding: 0 .6em;
	}
}
@keyframes sliderTwo {
	0%, 33%, 66%, 100% {
		max-width: $slider-close;
		padding: 0;
	}
	38%, 63% {
		max-width: $slider-open;
		padding: 0 .6em;
	}
}
@keyframes sliderThree {
	0%, 66%, 100% {
		max-width: $slider-close;
		padding: 0;
	}
	71%, 97% {
		max-width: $slider-open;
		padding: 0 .6em;
	}
}





#welcome {

	article {
		@include col(6);
		margin: 13em auto;
	}

	p {
		font-size: 2em;
		display: block;

		&:first-of-type {
			padding-bottom: 0;
			margin-bottom: 0;
		}
		&:last-of-type {
			padding-top: 0;
			margin-top: 0;
		}
	}
	.slide {
		display: inline-block;
		margin-bottom: -0.4em;
		max-width: 0%;
		overflow: hidden;
		background-color: $prime-color;
		color: white;

		&-one {
			animation: sliderOne $slider-dur infinite;
		}
		&-two {
			animation: sliderTwo $slider-dur infinite;
			transform: translateX(-.3em);
		}
		&-three {
			animation: sliderThree $slider-dur infinite;
			transform: translateX(-.6em);
		}


	}
	.name {
		border: 3px solid $prime-color;
		padding: 0 .3em;
	}
}


// @keyframes start-animation {
// 	0% {
// 		transform: scaleX(0);
// 		line-height: 0;
// 		color: transparent;
// 	}
// 	30% {
// 		transform: scaleX(0);
// 		line-height: 0;
// 		color: transparent;
// 	}
// 	50% {
// 		transform: scaleX(1);
// 		line-height: 0;
// 		color: transparent;
// 	}
// 	80% {
// 		transform: scaleX(1);
// 		line-height: 1;
// 		color: transparent;
// 	}
// 	100% {
// 		color: $black;
// 	}
// }
//
// #welcome {
// 	h1 {
// 		overflow: hidden;
// 		animation: 3s start-animation;
// 	}
// }
