@media( min-width: 775px ) {
	.blue-line-before::before, .blue-line-after::after {
		content: " ";
		display: inline-block;
		background-image: url("../img/snippits/line.svg");
		background-repeat: repeat-x;
		background-size: initial;
		height: 1em;
		position: relative;
		top: 34px;
	}
}