/*.before-blue::before {
	content: "`BLAAAAAA";
	display: inline-block;
}
.after-blue::after {
	content: "`BLAAAAAA";
	display: inline-block;
}*/
/*.before-black::before {
	content: "`BLAAAAAA";
	display: inline-block;
}
.after-black::after {
	content: "`BLAAAAAA";
	display: inline-block;
}*/