.blue-line-before::before {
	content: " ";
	display: inline-block;
	background-image: url('../img/snippits/line.svg');
	background-repeat: no-repeat;
}
.blue-line-after::after {
	content: " ";
	display: inline-block;
	background-image: url("../img/snippits/line.svg");
	background-repeat-y: no-repeat;
	background-size: initial;
	height: 1em;
	width: 12em;
	position: relative;
	top: 26px;
	margin-left: 0.5em;
}