#services {
	@include col(6);
	@include flex(column, center);
	padding-bottom: 5em;

	h1 {
		margin-left: auto;
	}

	ul {
		@include flex(row, center);
		flex-wrap: wrap;
		padding: 0;
		margin: 0;

		li {
			padding: 0;
			margin: 0.6em $gutter-large;
			display: inline-block;
		}

		a {
			padding: $gutter;
			background-color: $secondary-color-lighter;
			color: $white;
			border: 2px solid transparent;
			
			&:hover,
			&:focus {
				border: 2px solid $prime-color;
				/*background-color: $secondary-color-lighter;*/
			}
		}
	}
}